* {
  margin: 0;
  height: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(46, 46, 46);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(231, 231, 231);
}
h2 {
  font-size: 1.5em;
}
P {
  color: rgb(231, 231, 231);
}
nav {
  background-color: rgb(36, 36, 36);
  height: 10vh;
  box-shadow: -15px 15px 30px #1c1c1c, 15px -15px 30px #262626;
  text-align: center;
}
main {
  width: 100%;
  min-height: 90vh;
}
.center {
  display: grid;
  justify-content: center;
  align-items: center;
}
.squareBtn {
  height: 55px;
  width: 55px;
  border: 5px solid #424242;
  background-color: #ffef11;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #424242;
  box-shadow: -1px 1px 3px #1c1c1c, 1px -1px 3px #262626;
}
.btnCircleActive {
  border: 5px solid #7829a7;
}
.icon {
  width: 20px;
  height: 20px;
}
.points {
  display: grid;
  justify-content: center;
  grid-template-columns: 33.3% 33.3% 33.3%;
  height: 100%;
  text-align: center;
  padding: 10px;
}
.score {
  padding: 10px;
}
.recordScore {
  padding: 10px;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.playingField {
  position: relative;
  width: 450px;
  height: 450px;
  background-color: rgb(36, 36, 36);
  border-radius: 15px;
  box-shadow: -15px 15px 30px #1c1c1c, 15px -15px 30px #262626;
  overflow: hidden;
  padding: 12px;
}
.cell {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97.5px;
  height: 97.5px;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  color: rgb(36, 36, 36);
  font-weight: bold;
  box-shadow: -5px 5px 10px #1c1c1c, 5px -5px 10px #262626;
  z-index: 3;
}

.cellFirstAnimation {
  animation-duration: 0.4s;
  animation-name: cellFirstAnimation;
}

@keyframes cellFirstAnimation {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  to {
    transform: scale(1, 1);
  }
}

.cellSecondAnimation {
  animation-duration: 0.4s;
  animation-name: cellSecondAnimation;
}

@keyframes cellSecondAnimation {
  from {
    opacity: 0.1;
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/*.color1 {
  background-color: rgb(238, 217, 30) !important;
}

.color2 {
  background-color: rgb(238, 165, 30) !important;
}

.color3 {
  background-color: rgb(238, 113, 30) !important;
}

.color4 {
  background-color: rgb(231, 30, 238) !important;
}

.color5 {
  background-color: rgb(196, 30, 238) !important;
}

.color6 {
  background-color: rgb(127, 30, 238) !important;
}

.color7 {
  background-color: rgb(61, 30, 238) !important;
}

.color8 {
  background-color: rgb(30, 238, 158) !important;
}*/

.startText {
  display: flex;
  justify-content: center;
  margin: 10%;
  text-align: center;
}
